@model CarDealership.UI.Models.MyViewModels.SpecialVM

@{
    ViewBag.Title = "EditSpecial";
}

<h2 class="text-center">Edit Special</h2>

@using (Html.BeginForm("EditSpecial", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <h4 class="text-center">Fill in the criteria below to add a new special to the system.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.SpecialId)
    @Html.HiddenFor(m => m.SpecialPicture)
    <div class="form-group">
        <label class="col-md-2 control-label" for="SpecialName">Special Name: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SpecialName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="SpecialDescription">Description: </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.SpecialDescription, new { @class = "form-control", style = "height: 150px" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="SpecialStartDate">Start Date: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SpecialStartDate, new { @class = "form-control", type = "date" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="SpecialEndDate">End Date: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SpecialEndDate, new { @class = "form-control", type = "date" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="SpecialJTronImage">Picture: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SpecialJTronImage, new { type = "file", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Cancel", "Specials", "Admin", null, new { @class = "btn btn-default" })
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}
