@model CarDealership.Data.Car

@{
    ViewBag.Title = $"Details for {Model.CarYear} {Model.Model.Make.MakeName} {Model.Model.ModelName} {Model.Model.ModelEdition}";
}

<h2 style="padding-bottom: 25px" class="text-center">@ViewBag.Title</h2>

<div>
    <div class="col-md-3">
        <p><img src="@Url.Content("~/Images/" + Model.CarPicture)" class="img-thumbnail text-center" style="width: 200px; display:block; margin:auto" /></p>
        <p class="text-center">@Model.CarYear @Model.Model.Make.MakeName @Model.Model.ModelName @Model.Model.ModelEdition</p>
        @if (Model.Purchased == "N")
        {
            <p class="text-center">@Html.ActionLink("Contact Us", "Contact", "Home", new { VIN = Model.VIN_ }, new { @class = "btn btn-primary btn-block" })</p>
        }
        else
        {
            <p class="alert-danger text-center">Unavailable/Sold</p>
        }
    </div>
    <div class="col-md-3">
        <p><strong>Body Style: </strong>@Model.BodyStyle.BSName</p>
        <p><strong>Transmission: </strong>@Model.Transmission.TransmissionType</p>
        <p><strong>Color/Type: </strong>@Model.ExteriorColor.ExtColorName/@Model.ExteriorColor.ExtColorType</p>
    </div>
    <div class="col-md-3">
        <p><strong>Interior Color/Material: </strong>@Model.InteriorColor.IntColorName/@Model.InteriorColor.IntColorType</p>
        <p><strong>Mileage: </strong>@Model.Mileage</p>
        <p><strong>VIN#: </strong>@Model.VIN_</p>
    </div>
    <div class="col-md-3">
        <p><strong>Sale Price: </strong>@string.Format("{0:c}", Model.SalePrice)</p>
        <p><strong>MSRP: </strong>@string.Format("{0:c}", Model.MSRP)</p>
    </div>
</div>
<div class="col-md-9">Car Description: @Model.CarDescription</div>



