@model Warehouse.Data2.Product

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Product</h2>

<hr />
<p>Product Id: @Model.ProductId</p>
<p>SKU: @Model.SKU</p>
<p>Size: @Model.Size</p>
<p>Description: @Model.ProductDescription</p>
<hr />

@using (Html.BeginForm("DeleteProduct", "Home", FormMethod.Post))
{
    <p>Are you sure you want to delete this product?</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.SKU)
    @Html.HiddenFor(m => m.Size)
    @Html.HiddenFor(m => m.ProductDescription)


    @Html.ActionLink("Cancel", "GetProducts", "Home", null, new { @class = "btn btn-default" })
    <button type="submit" class="btn btn-danger">Delete</button>
}

