@model Warehouse.Data2.Bin

@{
    ViewBag.Title = "DeleteBin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Bin</h2>

<hr />
<p>Bin Id: @Model.BinId</p>
<p>Bin Name: @Model.BinName</p>
<p>Bin Capacity: @Model.Capacity</p>
<p>Available Space: @Model.AvailableSpace</p>
<hr />

@using (Html.BeginForm("DeleteBin", "Home", FormMethod.Post))
{
    <p>Are you sure you want to delete this bin?</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.BinId)
    @Html.HiddenFor(m => m.BinName)
    @Html.HiddenFor(m => m.AvailableSpace)
    @Html.HiddenFor(m => m.Capacity)

    @Html.ActionLink("Cancel", "GetBins", "Home", null, new { @class = "btn btn-default" })
    <button type="submit" class="btn btn-danger">Delete</button>
}


