@model List<Warehouse.Data2.Bin>

@{
    ViewBag.Title = "GetBins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bins</h2>

@if (Model.Count == 0)
{
    <p>There are no bins to display.</p>
}
else
{
    <div class="row">
        @foreach (var bin in Model)
        {
            <div class="col-md-4">
                <hr />
                <p class="text-center">Bin Id: @bin.BinId</p>
                <p class="text-center">Bin Name: @bin.BinName</p>
                <p class="text-center">Bin Capacity: @bin.Capacity</p>
                <p class="text-center">Available Space: @bin.AvailableSpace</p>
                <p class="text-center">
                    @Html.ActionLink("View Contents", "BinContents", new { id = bin.BinId }, new { @class = "btn btn primary" }) |
                    @Html.ActionLink("Edit", "EditBin", new { id = bin.BinId }, new { @class = "btn btn primary" }) |
                    @Html.ActionLink("Delete", "DeleteBin", new { name = bin.BinName }, new { @class = "btn btn primary" })
                </p>
                <hr />
            </div>
        }
    </div>

}
